body {
    margin: 0px;
    min-width: fit-content;
}

.header {
    background-color: #1f2937;
    min-width: fit-content;
}

.header * {
    font-size: 18px;
    color: #e5e7eb;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0   25px;
}

.header .links {
    margin-top: 10px;
}

.header a {
    text-decoration: none;
    margin: 5px;
    white-space: nowrap;
}

.logo {
    width: 150px;
}

.header-bottom {
    display: flex;
    margin: 0px 25px;
    padding: 25px 0px;
    justify-content: space-evenly;
}

.header-image {
    width: 400px;
    height: fit-content;
    padding: 10px;
}

.hero {
    padding: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    width: 280px;
}

.hero-sub {
    max-width: 350px;
    min-width: 200px;
    margin-bottom: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50%;
    min-height: 75px;
}

.sign-up {
    background-color: #3882f6;
    padding: 5px 25px;
    font-weight: bold;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 18px;
}

.hero button {
    border: none;
}

.sign-up:hover {
    transform:scale(1.1,1.1)
}


.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.information {
    margin: 0px 50px 75px 50px;
    display: flex;
    justify-content: center;
}

.card-container {
    width: 150px;
    margin: 0px 15px;
}

.card {
    width: 100%;
    height: auto;
}

.card-container > p {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 100px;
    
}

.quote p {
    color: #1f2937;
    font-size: 24px;
    font-style: italic;
    margin: 0px auto;
    max-width: 1000px;
}

.quote-reference {
    text-align: right;
    color: black;
    font-weight: bold;
}

.call-to-action {
    margin: 50px;
}

.call-container {
    margin: 0px auto;
    font-size: 18px;
    padding: 25px 50px;
    background-color: #3882f6;
    color: #e5e7eb;
    max-width: 1000px;
    display: flex;
}

.call-to-action h3 {
    color: #f9faf8;
    font-size: 24px;
}

.call-to-action button {
    border-color: #e5e7eb;
    border-style: solid;
}

.call-left {
    width: 70%;
}

.call-left * {
    margin: 0px;
}

.call-right {
    width: 30%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}