body {
    margin: 0px;
    min-width: fit-content;
}

.header {
    background-color: #1f2937;
    min-width: fit-content;
}

.header * {
    font-size: 18px;
    color: #e5e7eb;
}
.header-top {
    display: flex;
    justify-content: space-between;
    margin: 0   25px;
}

.header .links {
    margin-top: 10px;
}

.header a {
    text-decoration: none;
    margin: 5px;
    white-space: nowrap;
}

.logo {
    width: 150px;
}

.header-bottom {
    display: flex;
    margin: 0px 25px;
    padding: 25px 0px;
    justify-content: space-evenly;
}

.header-image {
    width: 400px;
    height: fit-content;
    padding: 10px;
}

.hero {
    padding: 10px;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    width: 280px;
}

.hero-sub {
    max-width: 350px;
    min-width: 200px;
}

.hero button {
    background-color: #3882f6;
    padding: 5px 25px;
    font-weight: bold;
    border-radius: 10px;
    color: #f9faf8;
    border: none;
    margin-left: 25px;
}

.sign-up:hover {
    padding: 8px 28px;
    margin-left: 22px;
    margin-top: -3px;
    border-radius: 12px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    padding: 50px;
}

.information {
    margin: 0px 50px;
    display: flex;
    justify-content: center;
}

.card-container {
    width: 150px;
    margin: 0px 15px;
}

.card {
    width: 100%;
    height: auto;
}

.card-container > p {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
}


